@media only screen and (min-width: 600px) {
  img {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    left: 160px;
    width: 150px;
    height: 150px;
  }
}

@media only screen and (max-width: 601px) {
   img {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    left: 110px;
    width: 150px;
    height: 150px;
   }
}

.loadButton {
  position: relative;
  top: 0px;
  left: 0px;
}

input{
    position: relative;
    left: -10px;
}

.form {
  position: relative;
  top: 20px;
  bottom: 10px;
}

