img{
    position: relative;
    justify-content: center;
    top: 10px;
    left:-120px;
    bottom: 0px;
    width: 150px;
    height: 150px;
}

.loadButton{
    margin: .5em auto;
}

.form{
    position: relative;
    top: 20px;
    bottom:10px;
}

/* .file-input{
    position: relative;
    top:-145px;
    left:45px;
} */
