.MuiGrid-root{
    justify-content:center;
    flex-wrap: wrap;
    
}

.deleteBTn{
    position:relative;
    top: 5px;
    bottom:40px;
}

.MuiGrid-container{
    position: relative;
    justify-content: center;
    flex-direction: row;
    flex: wrap;
}

.CommentTitle{
    position: relative;
    top:0px;
    left:175px;
}

.Catalog{
    color:#5c80cb;
}