.mainCard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.MuiGrid-root{
    justify-content:center;
    flex-wrap: wrap;   
}

.deleteBTn{
    position:relative;
    top: 5px;
    bottom:40px;
}

.MuiGrid-container{
    position: relative;
    justify-content: center;
    flex-direction: row;
    flex: wrap;
}

@media only screen and (min-width: 601px) {
   .CommentTitle {
    position: relative;
    left: 180px;
   }
}

@media only screen and (max-width: 600px) {
.CommentTitle{
    position: relative;
    left: 130px;
    }
}

.Catalog{
    color:#5c80cb;
}