@media only screen and (min-width: 601px) {
  div.LogoutBtn {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    top: 60px;
    left: 800px;
  }
}

@media only screen and (max-width: 600px) {
  div.LogoutBtn {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    top: 55px;
    left: -320px;
  }
}

/* Changes text color in app bar */
.MuiAppBar-colorPrimary {
  color: white;
}
