
.Title{
    position: relative;
    top:0px;
    left:570px;
}
.logBtn{
    position: relative;
    top:6px;
    left:180px;
}

/* Changes text color in app bar */
.MuiAppBar-colorPrimary{
    color:white
}
